.header__container {
  @apply h-28 md:h-[85px] block md:flex justify-between items-center px-2 md:px-8 py-3 w-full shadow-md sticky top-0 z-40 bg-inherit;
}

.navbar_logo {
  @apply mr-3 w-[90px] h-[40px] md:w-[160px] md:h-[70px];
}

.header_left_content {
  @apply w-full md:w-auto flex justify-between items-center;
}

.header_left_mobile {
  @apply flex md:hidden items-center space-x-1;
}

.header_center_contents {
  @apply flex justify-start w-full md:pl-[20px] space-x-6 overflow-auto mt-4 mb-1 md:mt-1 md:ml-16;
}

.nav_item {
  @apply flex justify-around items-center text-opacity-50 text-sm space-x-1 font-semibold hover:text-blue-500 mb-1;
}

.active_navitem .nav_text {
  @apply text-blue-500 text-opacity-100;
}

.normal_nav .nav_border {
  @apply border-b-4 border-transparent rounded-full;
}

.active_navitem .nav_border {
  @apply border-b-4 border-blue-500 rounded-full;
}

.header_right_content {
  @apply hidden md:flex space-x-6 items-center w-auto;
}

.setting_container {
  @apply absolute rounded-xl  shadow-md bg-white dark:bg-zinc-800 ring-opacity-5 right-0 z-10 mt-0 w-[330px] origin-top-right py-3 px-1 overflow-auto;
}

.setting_mobile_wrapper {
  @apply fixed top-0 left-0 z-50 w-[330px] h-screen transition-transform shadow-md;
}

.setting_mobile_container {
  @apply h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-zinc-800;
}
