@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-light: 100, 100, 100;
  --background-light: 250, 250, 250;

  --foreground-dark: 210, 210, 210;
  --background-dark: 33, 32, 37;
}

.light {
  color: rgb(var(--foreground-light));
  background: rgb(var(--background-light));
}

.dark {
  color: rgb(var(--foreground-dark));
  background: rgb(var(--background-dark));
}

.dark-bg {
  background: rgb(var(--background-dark));
}

/* Styles they can't be achieve using tailwind */

/* hide-scrollbar is to hide the scroll bar while the scrolling feature is exist */
.hide-scrollbar::-webkit-scrollbar {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  display: none;
}

.hide-scrollbar {
  /* For IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide_arrow::-webkit-outer-spin-button,
.hide_arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
