@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 50, 50, 50;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 250, 250, 250;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 230, 230, 230;
    --background-start-rgb: 33, 32, 37;
    --background-end-rgb: 33, 32, 37;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

/* Styles they can't be achieve using tailwind */

/* hide-scrollbar is to hide the scroll bar while the scrolling feature is exist */
.hide-scrollbar::-webkit-scrollbar {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  display: none;
}

.hide-scrollbar {
  /* For IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide_arrow::-webkit-outer-spin-button,
.hide_arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
