@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 200, 100, 50;
  --background-end-rgb: 212, 137, 100;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 230, 230, 230;
    --background-start-rgb: 33, 32, 37;
    --background-end-rgb: 33, 32, 37;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}
